body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #5a7cff;
}

.quemsomos {
    background-color: green;
    color: white;
}

.margin{
    padding-top:50px;
    padding-bottom: 20px;
}

.parceiros{
    background-color: aqua;
}

.servicos{
    background-color: blueviolet;
}

.bg-footer{
    background-color: black;
    color: white;
}